/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2022, 09:26:26 AM
    Author     : LENOVO COMPARTIR
*/
    *{
margin:0;
padding:0;
font-family:"open sans",sans-serif;
}

.”contenedor”{
    border:solid lightskyblue;
    width:100%;
    max-width: 100px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    }

    .”cabecera”{
        display: flex;
        justify-content:space-between;
        position:relative;
        height:220px;
    }
    
    .cabecera_igm{
        width: 100px;
    } 

    .cabecera_h1{
        position: absolute;
        top: 40px;
        left:150px
        }
       
        .cabecera_frase{
            position: absolute;
            top:70px;
            left:235px;
            }

            .nav{
                margin: 10px 10px 0 0;
                position: absolute;
                background: none;
                height: auto;
                width: unset;
                border: none;
                top: 5px;
                left: 700px;
            }
            
            .nav_link_1{
                background: #008899;
                color: black;
                    padding:5px;
                    border-radius: 3px;
                   }
             
                   .nav_link_2{
                        background: #008899;
                color: black;
                    padding:5px;
                    border-radius: 3px;
                   }

                   .nav_link_3{
                        background: #008899;
                color: black;
                    padding:5px;
                    border-radius: 3px;
                   }
                   
                   .galeria{
                       width: 100%;
                       height: 400px;
                       background: #333;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                    }
                   
                    .galeria_lienzo{
                        width: 600px;
                        height: 350px;
                        overflow: hidden;
                    } 
                    
                    .galeria_contenedor{
                        display: flex;
                        width: 700px;
                        height: 50px;
                        transition: transform 1s ease-in;
                        will-change: transform;
                        }
                  
                        .elemento1:checked.galeria_contenedor {
                            transform: translatex (0px);
                        }
                        
                        .elemento2:checked.galeria_contenedor {
                            transform: translatex(-600px);
                        }
                        .elemento3:checked.galeria_contenedor {
                            transform: translatex (-1200px);
                        }
                        
                        .controles{
                            width:100%;
                            height:30px;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        top: -26px;
                         }
                         
                         .label{
                           margin: 5px;
                           width: 20px;
                           height: 20px;
                           border-radius: 100px;
                           background: black;
                           display: block;
                           cursor: pointer;
                           }
                        
                           .tienda{
                               display:grid;
                               grid-template: repeat (3, 300px)/repeat(3, 300px);
                               justify-content: center;
                               grid-gap:16px;
                               width:100%;
                               height: auto;
                                 }
                        
                                 .tienda article{
                                     display: flex;
                                     justify-content: center;
                                     align-content: space-between;
                                     flex-flow: wrap;
                                     border: solid;
                                     border-radius: 15px;
                                     overflow: hidden; 
                             }
                             
                             .tienda img{
                                 position: relative;
                                 top: 5px;
                                 width: 150px;
                                 height: 100px;
                                 border-radius: 15px;
                             }
                             
                             .tienda div{
                                 width: 100%;
                                 height: 30px;
                                 background: #008899;
                             }
                             
                             .tienda div h3{
                                 text-align: center;
                                 color:#FFFFFF;
                             }
                             
                             .tienda p{
                                 font: 120% sans-serif;
                                 text-align: justify;
                                 padding: 15px;
                             }
                            
                             